@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');
body {
    height: 100vh;  
    margin: 3%;
    background-color: #80acd8;
    font-family: 'Prompt', sans-serif;
    
}
.full{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}

.content{
display: absolute;
width: 60%;
top: 10%;
left: 50%;
border: 2px solid #80acd8;
padding: 3%;
border-radius: 5%;
background-color: #F6F4EB;
}
.insert1{
    display: flex;
}
.content_past2{
    display: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    border: 2px solid #80acd8;
    padding: 3%;
    border-radius: 5%;
    background-color: #F6F4EB;
}
.content h2{
    width: 100%;
    background-color: #749BC2;
}
.content_past2 h2{
    width: 100%;
    background-color:  #749BC2;
    
}

    
